@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-base:'Roboto', sans-serif;
    --background-color: #24273A;;
    --background-color-alter: #2A2C3F;
    --border: 3px solid #C6A0F6;
    --color-base: #fff;
}


body {
    font-family: var(--font-base);
    background-color: var(--background-color);
    color: var(--color-base);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formWeather {
    margin: 30px 20px 40px;
}

.cityInput {
    outline:none;
    padding: 15px;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--background-color-alter);
    color: var(--color-base);
    border: var(--border);
    margin: 10px;
    width: 400px;
}

.cityInput::placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
}

.citySubmit {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: #C6A0F6;
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.citySubmit:hover {
    background-color: #8D4FE4;
    color: rgba(255, 255, 255, 0.9);
}

.weatherWrapper {
    background: linear-gradient(135deg, #2E2F47, #3A2F55, #4C3780);
    padding: 60px;
    box-shadow: 0 8px 20px rgba(108, 92, 231, 0.25);
    border-radius: 15px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    margin-top: 0;
    margin-bottom: 20px
}

p {
    font-size: 2rem;
    margin: 5px 0;
}

.cityName,
.cityTemp {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 25px;
}

.cityHumidity {
    font-weight: bold;
    margin-bottom: 25px;
}

.cityDesc {
    font-weight: bold;
    font-style: italic;
    font-size: 2.5rem
}

.cityEmoji {
    margin: 0;
    font-size: 6rem;
}

.cityError  {
    font-weight: bold;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.75);
}